<div class="posts">
  <ul>
    {% for post in postslist %}
      <li class="post-card">
        <!-- Display the post image -->
        <img src="{{ post.data.image | url }}" alt="{{ post.data.title }} image" class="post-image">
        
        <!-- Display the post title, date, and description below the image -->
        <div class="post-content">
          <strong class="post-title">
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
          </strong>
          
           <p class="post-description">{{ post.data.description }}</p>
            <time class="post-date" dateTime="{{ post.date }}">{{ post.date | dayOnly }}</time>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
