---
layout: layouts/base.njk
---

<div class="blog-post">
    <h2 class="blog-post-title">{{ title }}</h2>
    <p class="blog-post-date">{{ date }}</p>
    <div class="blog-image-container"> 
        <img src="{{ image | url }}" alt="{{ title }}" class="blog-post-image">
        </div>
   
    <div class="blog-post-content">{{ content | safe }}</div>
</div>
